@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.card{
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover{
    background-color: #7c7c7c6b;
}
.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color:#7c7c7c2b ;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width:calc( 100% - 100px);
}
h1.temp{
    margin:0;
    margin-bottom:0.5em ;
}
.description{
    text-transform: capitalize;
    margin-left: 8px;
}
.flex{
    display: flex;
    align-items: center;
    margin-left: -10px;
}
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather{
    margin-left: 10px;
}
.weather.loading:after{
    visibility: visible;
    content:"Loading...";
    color: white;
    position: absolute;
    top: 0;
}